@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-50: #f4f7fa;
  --color-brand-100: #e2ebf4;
  --color-brand-500: #1b365d;
  --color-brand-600: #132747;
  --color-brand-700: #0b1a33;
  --color-brand-800: #0c1626;
  --color-brand-900: #050d18;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}

.prose-content::-webkit-scrollbar {
  width: 6px;
}

.prose-content::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.prose-content::-webkit-scrollbar-track {
  background-color: transparent;
}
